html {
  font-family: "Montserrat", sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Margen superior */
#margenAlto {
  background-color: rgb(0,158,227);
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0.1rem 0.1rem 1rem black;
}

#txtmarcoAlto {
  color: white;
  display: flex;
  margin-left: 13px;
  margin-top: 30px;
  font-size: 25px;
}

#txtInicio {
  color: white;
  display: flex;
  justify-content: center;
  margin-left: 13px;
  margin-top: -42px;
  font-size: 30px;
}

#CuadroPrincipal {
  cursor: pointer;
  text-align: center;
  color: black;
  width: 300px;
  height: 200px;
  background-color: rgb(141,205,232);
  display: flex;               
  flex-direction: column;      
  justify-content: center;   
  border-radius: 7px;  
}

#txtCuadroPrincipal {
  margin-top: -10px;
}

#CuadroDeTransferencias {
  font-size: 10px;
  cursor: pointer;
  box-shadow: 4px 4px 3px rgb(140,140,140);
  text-align: center;
  color: rgb(29, 29, 29);
  width: 400px;
  height: 550px;
  background-color: rgb(141,205,232);
  border-radius: 7px;  
}

/*acciones del cuadro principal */
#AccionesDelCuadroPrincipal {
  display: flex;              
  flex-direction: row;        
  margin-left: 10px;
  justify-content: center;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  background-color: #e6e2e2;
  color: #000000;
  font-size: 13px;
  font-weight: 100;
  cursor: pointer;
  transition: box-shadow 0.3s ease, transform 0.2s ease;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

button:hover {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

button:active {
  transform: translateY(1px);
}

#detalleActividad {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  cursor: grab;
  font-size: 20px;
}

.tarjeta-transaccion {
  background-color: rgba(112, 156, 185, 0.226)
}

/* Barra lateral */
body {
  display: flex;
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Botón de alternar */
#botonNoche {
  padding: 10px 20px;
  margin: 20px 0;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#botonNoche:hover {
  background-color: #0056b3;
}

#contenedorInicio{
  display: flex;
  padding-top: 120px;
  gap: 20px;
}
.contenedor {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#contenedorInicio {
  display: flex;
  justify-content: space-between;
}

.sidebarLn {
  text-decoration: none;
  margin: 10px;
}

.container{
margin-left: 130px;
background-color: rgb(141,205,232)
}

.sidebar {
  width: 250px;
  height: 90vh;
  background-color: rgb(238,238,238);
  border-right: 1px solid #ccc;
  display: flex;
  margin-top: 100px;
  flex-direction: column;
  padding-top: 20px;
  position: fixed;
  left: 0;
  top: 0;
}

.sidebar a {
  padding: 15px 20px;
  text-decoration: none;
  color: rgb(91,91,91);
  font-size: 16px;
  display: flex;
  align-items: center;
  transition: background-color 0.3s;
}

.sidebar a:hover {
  background-color: #34495e59;
}

.sidebar a#active {
  background-color: rgb(141,205,232);
}

.sidebarLn {
  border: none;
  border-bottom: 1px solid #cccccc8e;
}

/* Modo noche */
body.dark-mode {
  background-color: black;
  color: white;
}

body.dark-mode #margenAlto {
  background-color: #333;
}

body.dark-mode #txtmarcoAlto,
body.dark-mode #txtInicio {
  color: white;
}

body.dark-mode #CuadroPrincipal {
  background-color: #333;
  color: white;
}

body.dark-mode #CuadroDeTransferencias {
  background-color: #444;
  color: white;
}

body.dark-mode .sidebar {
  background-color: #333;
  color: white;
}

body.dark-mode .sidebar a {
  color: white;
}

body.dark-mode .sidebar a:hover {
  background-color: #555;
}

body.dark-mode .sidebar a#active {
  background-color: rgb(141,205,232);
}

body.dark-mode .active {
  background-color: #444;
  color: white;
}

body.dark-mode .container{
  background-color: #333;
  color: white;
}